{% extends 'base.html' %} {% load static %} {% block content %}
<!-- contact section -->
<section class="contact_section layout_padding" style="
    background-color: grey;
    background-blend-mode: multiply;
    background-size:cover;
    background-image: url({% static 'images/login_bg.jpg' %});height: 100vh;">
    <div class="container">
        <div class="heading_container heading_center">
            {%comment%}<a href="{% url 'displaydata' %}" style="background:transparent;-webkit-text-fill-color:white;border-bottom: 2px solid yellow;margin-bottom:5%"> Display Data</a> {% endcomment %}
            <script>
                function check() {
                    if (document.getElementById('new-password').value ==
                            document.getElementById('confirm-password').value) {
                        document.getElementById('message').style.color = 'green';
                        document.getElementById('message').innerHTML = 'Matching';
                        document.getElementById("submit").disabled = false
                        if(document.getElementById('new-password').value == "" || document.getElementById('confirm-password').value == ""){
                          document.getElementById('message').style.color = 'white';
                            document.getElementById('message').innerHTML = 'Password can\'t be empty';
                            document.getElementById("submit").disabled = true
                        }
                    }
                    else {
                        document.getElementById('message').style.color = 'red';
                        document.getElementById('message').innerHTML = 'Not Matching';
                    }
                }
                setInterval(() => {
                    check()
                }, 250);
            </script>

            <label id="password_changed" style="display:none;">
              <input type="checkbox" class="alertCheckbox" autocomplete="off" />
              <div class="alert error">
                <span class="alertClose">X</span>
                <span class="alertText">Password Changed.
                <br class="error"/></span>
              </div>
            </label>
            
            <script>
              const searchParams = new URLSearchParams(window.location.search);
              if (searchParams.has('password_changed')) {
                  document.getElementById("password_changed").style.display = "block";
              }
            </script>

            <h2>-:Change Password:-</h2>
        </div>
        <table class="table table-borderless text-light">
            <form method="POST" action="">
                {% csrf_token %}
                <tr>
                    <th>Username:</th>
                    <td><input type="text" name="uName" value="{{editf.uName}}" readonly/></td>
                </tr>
                <tr>
                    <th>New-password:</th>
                    <td><input id="new-password" type="password" name="uPass" required pattern="{.5,}"/>
                        <td>
                </tr>
                <tr>
                    <th> Confirm-Password:</th>
                    <td><input id="confirm-password" type="password" name="uPass"  required pattern="{.5,}"/><td>
                </tr>
        </table>
        <table>
            <tr>
                <div id="message" style="font-size: 1.5em;">Password can't be empty</div>
                <button disabled type="submit" id="submit">Change Password</button>
            </tr>
            </form>
        </table>
    </div>
    </div>

</section>
{% endblock %}