{% extends "board.html" %}
{% load static %}
{% block title %}Registration{% endblock %}

{% block content %}
    <div id="container">
      <form action method="post">
         {% csrf_token %}
         <h1>-:FORM:-</h1>
      <input name="username" placeholder="Username" class="input" type="text" required />
      <input name="password" placeholder="Password" class="input" type="password" title="Required 8 character password" required pattern=".{8,}"/>
      <input name="email" placeholder="Email" class="input" type="Email"  required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"/>
      <input class="btn btn-inside btn-boarder" id="sign-in" value="REGISTER" type="submit" />
      <form>
    </div>
{% endblock %}
