{% extends "base.html" %} {% load static %} {% block title %}Welcome{% endblock %} 
{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
</style>
<div style="font-family: 'Rancho', cursive;height:100vh;background-blend-mode:darken;-webkit-text-fill-color:lightseagreen;background-image:url('https://images3.alphacoders.com/715/thumb-1920-715968.jpg');background-size:cover;">
    <p style="text-align:center;font-size:5em;margin-right:15px;">Welcome</p>
    <p style="font-size:4em"> We are always on the<br><span style="font-size:1.3em;font-family: 'Eater', cursive;background: linear-gradient(rgb(255,0,0) 5.6%, rgb(100, 0, 0) 80.7%);;
    -webkit-background-clip: text;background-clip: text;
    -webkit-text-fill-color: transparent;"> watch</span></p>
    <p style="text-align:right;font-size:3em;margin: 1%;background: linear-gradient(rgb(255,0,0) 5.6%, rgb(100, 0, 0) 80.7%);-webkit-background-clip: text;background-clip: text;
    -webkit-text-fill-color: transparent;font-family: 'Butcherman', cursive;">Only the eyes<br> that follow.</p>
</div>
{% endblock %}